# files from droid4-mainline-kexec-0.3
system/etc/kexec/uart.ko
system/etc/kexec/arm_kexec.ko
system/etc/kexec/kexec.ko
system/etc/kexec/kexec.static

# kernel
system/etc/kexec/kernel
system/etc/kexec/devtree
system/etc/kexec/ramdisk.img
